#plbckg {

    -fx-background-image: url("../../media/beertab530x362.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: contain;

}

#splashlabel {
    -fx-background-color: LightBlue;


}